<html>
  <head>
    <link rel="stylesheet" href="AtomTesting.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <div>
      <img src="Overlay.png" class="center">

      <p id="left">{{ game.player1.IGN }}</p>
      <p id="right">{{ game.player2.IGN }}</p>
      <p id="leftNum">{{ game.player1.score }}</p>
      <p id="rightNum">{{ game.player2.score }}</p>
      <p id="status">{{ game.name }}</p>
      <img src="{{ game.player1Char }}.png" class="leftIcon">
      <img src="{{ game.player2Char }}.png" id="rightIcon" height="30" width="30" class="rightIcon">
    </div>
  </body>
</html>
