<html>

  <head>
    <link rel="stylesheet" href="Setup.css">
    <link rel='shortcut icon' type='image/x-icon' href='Logo.ico'>
  </head>

  <ul>
    <li><a href="{{ url_for('overlayPage') }}">Overlay</a></li>
    <li><a href="{{ url_for('controlPanel') }}">Control Panel</a></li>
    <li><a href="{{ url_for('setup') }}" id="active">Setup</a></li>
  </ul>

  <div id="tableDiv">
    <table>
      <th>ID</th>
      <th>IGN</th>
      <th>Main</th>
      <th>School</th>
      <th>Seed</th>

    {% for player in playerList %}
    <tr>
      <td>{{player.ID}}</td>
      <td>{{player.IGN}}</td>
      <td>{{player.main}}</td>
      <td>{{player.school}}</td>
      <td>{{player.seed}}</td>
    </tr>
    {% endfor %}
    </table>

  </div>

  <div id="inputs">
    <form action="/setup" method="post" id="form">

      <select id='Action' name='formIdentifier' form='form'>
        <option value='addForm'>Add Player</option>
        <option value='editForm'>Edit Player</option>
        <option value='deleteForm'>Delete Player</option>
      </select><br>

      <label>ID - used to select player to edit/delete</label><br>
      <input type="number" name="ID"></input><br>

      <label>IGN</label><br>
      <input type="text" name="IGN"></input><br>

      <label>School</label><br>
      <input type="text" name="school"></input><br>

      <label>Seed - leave empty if not seeded</label><br>
      <input type="number" name="seed"></input><br>

      <label for="main">Main</label>
      <select id="main" name="main" form="form">
        <option value="Banjo&Kazooie">Banjo&Kazooie</option>
        <option value="Bayonetta">Bayonetta</option>
        <option value="Bowser">Bowser</option>
        <option value="BowserJr">BowserJr</option>
        <option value="Byleth">Byleth</option>
        <option value="CaptainFalcon">CaptainFalcon</option>
        <option value="Chrom">Chrom</option>
        <option value="Corrin">Corrin</option>
        <option value="Daisy">Daisy</option>
        <option value="DarkPit">DarkPit</option>
        <option value="DarkSamus">DarkSamus</option>
        <option value="DiddyKong">DiddyKong</option>
        <option value="DonkeyKong">DonkeyKong</option>
        <option value="DrMario">DrMario</option>
        <option value="DuckHunt">DuckHunt</option>
        <option value="Falco">Falco</option>
        <option value="Fox">Fox</option>
        <option value="Ganondorf">Ganondorf</option>
        <option value="Greninja">Greninja</option>
        <option value="Hero">Hero</option>
        <option value="IceClimbers">IceClimbers</option>
        <option value="Ike">Ike</option>
        <option value="Incineroar">Incineroar</option>
        <option value="Inkling">Inkling</option>
        <option value="Isabelle">Isabelle</option>
        <option value="Jigglypuff">Jigglypuff</option>
        <option value="Joker">Joker</option>
        <option value="Ken">Ken</option>
        <option value="KingDedede">KingDedede</option>
        <option value="KingKRool">KingKRool</option>
        <option value="Kirby">Kirby</option>
        <option value="Link">Link</option>
        <option value="LittleMac">LittleMac</option>
        <option value="Lucario">Lucario</option>
        <option value="Lucas">Lucas</option>
        <option value="Lucina">Lucina</option>
        <option value="Luigi">Luigi</option>
        <option value="Mario">Mario</option>
        <option value="Marth">Marth</option>
        <option value="MegaMan">MegaMan</option>
        <option value="MetaKnight">MetaKnight</option>
        <option value="Mewtwo">Mewtwo</option>
        <option value="Mii">Mii</option>
        <option value="MrGame&Watch">MrGame&Watch</option>
        <option value="Ness">Ness</option>
        <option value="Olimar">Olimar</option>
        <option value="Pac-Man">Pac-Man</option>
        <option value="Palutena">Palutena</option>
        <option value="Peach">Peach</option>
        <option value="Pichu">Pichu</option>
        <option value="Pikachu">Pikachu</option>
        <option value="Piranha">Piranha</option>
        <option value="Pit">Pit</option>
        <option value="PokémonTrainer">PokémonTrainer</option>
        <option value="Richter">Richter</option>
        <option value="Ridley">Ridley</option>
        <option value="ROB">ROB</option>
        <option value="Robin">Robin</option>
        <option value="Rosalina">Rosalina</option>
        <option value="Roy">Roy</option>
        <option value="Ryu">Ryu</option>
        <option value="Samus">Samus</option>
        <option value="Sheik">Sheik</option>
        <option value="Shulk">Shulk</option>
        <option value="Simon">Simon</option>
        <option value="Snake">Snake</option>
        <option value="Sonic">Sonic</option>
        <option value="Terry">Terry</option>
        <option value="ToonLink">ToonLink</option>
        <option value="Villager">Villager</option>
        <option value="Wario">Wario</option>
        <option value="WiiFitTrainer">WiiFitTrainer</option>
        <option value="Wolf">Wolf</option>
        <option value="Yoshi">Yoshi</option>
        <option value="YoungLink">YoungLink</option>
        <option value="Zelda">Zelda</option>
        <option value="ZeroSuitSamus">ZeroSuitSamus</option>
      </select><br>

      <input type="submit" value="Submit">
    </form>
    <ul id='formSubmits'>
      <li id='formLi'><form action="/setup" method="post" id="finaliseForm" class='formSubmits'>
        <input type='text' name='formIdentifier' value='finaliseForm' id='hidden'></input>
        <input type="submit" value="Finalise" id='buttons'>
      </form></li>
      <li id='formLi'><form action="/setup" method="post" id="backupform" class='formSubmits'>
        <input type='text' name='formIdentifier' value='backupForm' id='hidden'></input>
        <input type="submit" value="Backup" id='buttons'>
      </form></li>
      <li id='formLi'><form action="/setup" method="post" id="retrieveBackupForm" class='formSubmits'>
        <input type='text' name='formIdentifier' value='retrieveBackupForm' id='hidden'></input>
        <input type="submit" value="Retrieve Backup" id='buttons'>
      </form></li>
      <li id='formLi'><form action="/setup" method="post" id="makeBracket" class='formSubmits'>
        <input type='text' name='formIdentifier' value='makeBracketForm' id='hidden'></input>
        <input type="submit" value="Make Bracket" id='buttons'>
      </form></li>
    </ul>
  </div>

</html>
