<html>

  <head>
    <link rel="stylesheet" href="SingleElim.css">
    <link rel='shortcut icon' type='image/x-icon' href='Logo.ico'>
  </head>

  {% for round in tournament.rounds %}
    <div id="round{{loop.index}}">
      {% for game in round %}
        <div>
          <table id"game{{ loop.index }}">
            <tr><td>{{game.ID}}</td><td>{{game.player1.IGN}}</td><td>{{game.score[0]}}</td></tr>
            <tr><td></td><td>{{game.player2.IGN}}</td><td>{{game.score[1]}}</td></tr>
          </table>
        </div>
      {% endfor %}
    </div>
  {% endfor %}


</html>
