<html>
  <head>
    <link rel="stylesheet" href="AtomTesting.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <div>
      <img src="Overlay.png" class="center">

      <p id="left">{{ player1.IGN }}</p>
      <p id="right">{{ player2.IGN }}</p>
      <p id="leftNum">{{ player1.score }}</p>
      <p id="rightNum">{{ player2.score }}</p>
      <p id="status">{{ game.status }}</p>
      <img src="{{ player1.character }}.png" class="leftIcon">
      <img src="{{ player2.character }}.png" id="rightIcon" height="30" width="30" class="rightIcon">
    </div>
  </body>
</html>
