ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: #333;
  position: fixed;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#active{
  background-color: #4287f5;
}

#active:hover{
  background-color: #8db4f2;
}

table {
  border-collapse: collapse;
  padding: 10px;
}

table, th, td {
  border: 1px solid black;
}

th {
  height: 25px;
  background: #4287f5;
}

tr:nth-child(even) {background-color: #f2f2f2;}

#hidden{
  display: none;
}

#tableDiv{
  position: fixed;
  right: 2.5%;
  top: 10%;
  border: green;
}

#inputs{
  padding-top: 5%;
}

#formSubmits{
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: white;
  position: fixed;
}

li form {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

#buttons{
  border: none;
  color: white;
  background-color: #4287f5;
  padding: 16px 16px;
  margin: 2px 2px;
}

#buttons:active{
  background-color: #8db4f2;
}

#bracket{
     position: absolute;
     bottom: 0;
     right: 0;
     width: 45%;
     height: 60%;
     border-width: 0px;
}

#currentGame{
     position: absolute;
     bottom: 75%;
     right: 5%;
     max-width: 30%;
     max-height: 20%;
}
