<html>

  <head>
    <link rel="stylesheet" href="SingleElim.css">
    <link rel='shortcut icon' type='image/x-icon' href='Logo.ico'>
  </head>

  <table>
    <!-- creates header of rounds -->

    {% for row in tournamentTable %}
      <tr>
        {% for item in row %}
          {% if item is string %}
            {% if item == '' %}
              <td></td>
            {% else %}
              <td>{{item}}</td>
            {% endif %}
          {% else %}
            <td>
              <table>
                <colgroup>
                  <col class="GameID">
                  <col class="IGN">
                  <col class="Score">
                </colgroup>
                <tr><td>{{item.ID}}</td><td>{{item.player1.IGN}}</td><td>{{item.score[0]}}</td></tr>
                <tr><td>{{"BO" ~ item.BO}}</td><td>{{item.player2.IGN}}</td><td>{{item.score[1]}}</td></tr>
              </table>
            </td>
          {% endif %}

        {% endfor %}
      </tr>
    {% endfor %}
  </table>

</html>
