<html>

  <head>
    <link rel="stylesheet" href="SingleElim.css">
    <link rel='shortcut icon' type='image/x-icon' href='Logo.ico'>
  </head>

  {% for bracket in tournament.rounds %}
    <p>Bracket {{loop.index}}</p>
    {% for round in bracket.rounds %}
      <p>Round {{loop.index}}</p>
      {% for game in round%}
      <p>ID {{game.ID}}: {{game.player1.IGN}} vs {{game.player2.IGN}}</p>
      {%endfor%}
  {% endfor %}


  <!--<table>
    {% for bracket in tournament.rounds %}
      <th>Bracket {{loop.index}}</th>
    {% endfor %}

    {% for row in tournamentTable %}
      <tr>
        {% for item in row %}
          {% if item is string %}
            <td></td>
          {% else %}
            <td>
              <table>
                <colgroup>
                  <col class="GameID">
                  <col class="IGN">
                  <col class="Score">
                </colgroup>
                <tr><td>{{item.ID}}</td><td>{{item.player1.IGN}}</td><td>{{item.score[0]}}</td></tr>
                <tr><td>{{"BO" ~ item.BO}}</td><td>{{item.player2.IGN}}</td><td>{{item.score[1]}}</td></tr>
              </table>
            </td>
          {% endif %}

        {% endfor %}
      </tr>
    {% endfor %}
  </table>-->
</html>
