<html>
  <head>
    <link rel='shortcut icon' type='image/x-icon' href='Logo.ico'>
    <link rel="stylesheet" href="Overlay.css">
  </head>

  <body>
    <div>
      <img src="Overlay2.png" class="center">

      {% if game is not none %}
        <p id="left">{{ game.player1.IGN }}</p>
        <p id="right">{{ game.player2.IGN }}</p>
        <p id="leftNum">{{ game.score[0] }}</p>
        <p id="rightNum">{{ game.score[1] }}</p>
        <div id="center">
          <p id="status">{{ game.name }}</p>
        </div>
        <img src="{{ game.player1Char }}.png" class="leftIcon">
        <img src="{{ game.player2Char }}.png" id="rightIcon" height="30" width="30" class="rightIcon">
      {% endif %}
    </div>
  </body>
</html>
