p {
  font-family: NexaLight;
  font-size: 50px;
  color: black;
  text-align: center;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: shown; /* Hidden by default */
  width: auto; /* Full width (cover the whole page) */
  height: auto; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#right{
  position: fixed;
  right: 506px;
  top: 37px;
  text-align: right;
  font-size: 30;
}

.rightIcon{
  position: fixed;
  height: 30px;
  width: 30px;
  right: 50%;
  top: 9.6%;
}

#rightNum{
  position: fixed;
  right: 455px;
  top: 22px;
  font-size: 40;
}

#left{
  position: fixed;
  left: 504px;
  top: 11.5px;
  text-align: left;
  font-size: 30;
}

.leftIcon{
  position: fixed;
  height: 30px;
  width: 30px;
  left: 49.5%;
  top: 3.5%;
}

#leftNum{
  position: fixed;
  left: 453px;
  top: -5px;
  font-size: 40;
}

#status {
    position: absolute;
    text-align: center;
    left: 45%;
    bottom: -25px;
    font-size: 25;
    color: #a9acb5;
}

@font-face {
  font-family: "NexaLight";
  src: url(NexaLight.otf);
}
